## Airflow
AIRFLOW_UID=
AIRFLOW_ADMIN_USER=
AIRFLOW_ADMIN_PASSWORD=

## MySQL
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

## MinIO
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET=

## Pipeline
START_PAGE=
END_PAGE=
